*{
    font-family: system-ui;
}
.movie__title{
    font-size: 1.5em;
    
}
.movie__year{
    margin-top: -20px;
}
.movie{
    border: 2px solid #7f8fa6;
    border-radius: 10px;
    padding: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom : 10px;
    column-gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px auto;
    min-width: 410px;
    max-width: 600px;
}
.genres {
    display : flex;
    flex-wrap: wrap;
    list-style-type: none;
    border: 2px solid #636e72;
    border-radius: 15px;
    padding: 10px 0 10px 10px;
    justify-content: center;
    width: 75%;
}

.genres_genre {
    margin-right: 10px;
    color: #636e72;
}
.movie{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #f5f6fa;
}
.movie__summery{
    padding: 0 10px;
}
.movie > img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: -50px;
}

.movie:nth-child(odd)> img{
    order: 1;
    
}
.movie__data{
    grid-column-start: 2 span;
}
.movie:nth-child(even) { 
    grid-column-start: 2;
    grid-column-end: 5;
  }

  @media only screen and (width > 1200px) {
    .movie{ 
        grid-column: 1 span;
        margin: 30px 20px;
      }
    .movie:nth-child(even) { 
        grid-column: 1 span;
    }
    .movie:nth-child(odd)> img{
        order: 0;
        
    }
    .movie:nth-child(even)> img{
        order: 1;
        
    }
}